.container{
    text-align: center;

}
.container:active{
    transition: 0.2s;
    background: rgb(228,58,25)!important;
}
.content{
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}
