.button {
    border-radius: 20px;
    padding: 14px;
    background-color: rgba(255,255,255,0.5);
    border: none;
    right: 5px;
    top: 5px;
    position: absolute;
}

.button:focus {
    outline: none;
}

.navContent {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 30px;
    font-weight: bold;
    position: absolute;
    top: 0;
    transition: transform 1s ease-out;
    overflow: scroll;
    width: 25%;
    height: 93%;
}

input {
    width: 20%;
}

p:focus, p:active, p:hover, .menuActive {
    text-shadow: 0px 0px 6px rgb(15, 98, 223);
    color: rgb(15, 98, 223);
}

.sidebarTitle{
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
    margin-top: 40%;
}

.alertText {
    font-size: 12px;
    color: rgb(255,0,0);
}