.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.container {
  display: grid;
  height: 100%;
  grid-gap: 5px;
  grid-template-columns: auto auto;
}


html, body, #root {
  height: 100%;
}
